{% extends 'blog/layout.html' %}

{% block content %}
    <div class="flex flex-col w-11/12 min-h-[82.75vh] p-4 items-center  bg-teal-950">
        {% if blog.thumbnail %}
        <img class=" h-[200px] w-[250px] rounded-xl flex items-center object-cover shadow-md shadow-black" src="{{ blog.thumbnail.url }}" alt="{{ blog.title }}" />
        {% else %}
            <p class="font-mono text-white">No image available</p>
        {% endif %}
        <div class="bg-white w-full rounded-2xl shadow-black shadow-lg mt-3 p-8">
            <h1 class="text-center font-bold text-2xl">{{ blog.title }}</h1>
            <p><span class="font-bold">Author: </span>{{ blog.author }}</p>
            <p><span class="font-bold">Created: </span>{{ blog.created_date }}</p>
            <p class="bg-teal-600 mt-2 pt-[2px] rounded-full"></p>
            <p class="mt-2 text-wrap">{{ blog.content }}</p>
        </div>
      <a href="{% url 'blog:blog_list' %}" class="block mt-4 text-teal-500 hover:text-teal-300 font-bold">Back to Blog List</a>
    </div>
{% endblock %}